@import "../util/_all"
@import "../elements/layout"

$hero-stripe-width: -5vw

.who
  a
    color: $light-blue
    font-weight: bold
    &hover
      color: lighten($light-blue, 25%)

.what
  height: calc(100vh - #{$headerHeight})
  max-height: 1200px
  min-height: 700px

  .hero
    overflow: hidden

    .cover
      width: 0
      height: 0
      top: 0
      left: 0
      border-top: calc(100vh - #{$headerHeight} - #{$hero-stripe-width}) solid transparentize($light-blue, 0.5)
      border-right: calc(1440px - #{$hero-stripe-width}) solid transparent

    .cover-bottom
      width: 0
      height: 0
      bottom: 0
      right: 0
      border-bottom: calc(100vh - #{$headerHeight} - #{$hero-stripe-width}) solid transparentize($dark-blue, 0.5)
      border-left: calc(1440px - #{$hero-stripe-width}) solid transparent

  .main-cta
    max-width: 600px
    > div
      display: flex
      flex-direction: column

.organizer
  text-decoration: none
  transition: transform 150ms ease-in-out

  &:hover
    transform: scale(1.05)

.where-row
  flex-direction: row-reverse

@media (max-width: 1440px)
  .what .hero
    .cover
      border-right: 100vw solid transparent
    .cover-bottom
      border-left: 100vw solid transparent

@media (max-width: 40em)
  // xs
  .xs-m0, .sm-m0, .md-m0, .lg-m0
    margin: 0

  .xs-p0, .sm-p0, .md-p0, .lg-p0
    padding: 0

  .image-grid
    min-height: 50vh
  .xs-py1
    padding-top: 1rem
    padding-bottom: 1rem

@media (min-width: 40em) and (max-width: 52em)
  // sm
  .sm-m0, .md-m0, .lg-m0
    margin: 0

  .sm-p0, .md-p0, .lg-p0
    padding: 0

  .image-grid
    height: 450px
    max-height: 50vh
  .sm-py1
    padding-top: 1rem
    padding-bottom: 1rem

@media (min-width: 52em) and (max-width: 64em)
  // md
  .md-m0, .lg-m0
    margin: 0

  .md-p0, .lg-p0
    padding: 0

  .md-py1
    padding-top: 1rem
    padding-bottom: 1rem

@media (min-width: 64em) and (max-width: 76em)
  // lg

  .lg-m0
    margin: 0

  .lg-p0
    padding: 0
