@import "../util/_all"
@import "../elements/layout"

h1, h2, h3, h4, h5, h6
  background: transparent
  color: $dark-blue
  margin: 0.25em 0 0

strong
  @extend .bold-text, .text-shadow, .darkblue

.legal a
  @extend .bold-text, .slate

.main-content
  flex: 1


.legalterms > h1
  @extend .cubes, .darkblue, .b-gold
  padding-top: 2rem
  padding-bottom: 0.5rem
  border-width: 0
  border-bottom-width: 2px
  border-style: solid
  padding-left: 2rem
  padding-right: 2rem
  margin-top: 0

.legalterms > p,
.legalterms > h2,
.legalterms > h3,
.legalterms > h4,
.legalterms > h5
  padding-left: 2rem
  padding-right: 2rem

.legalterms > h2,
.legalterms > h3,
.legalterms > h4,
.legalterms > h5
  margin-top: 2rem
