div.footer {
  color: $fontColor;
  background-color: $secondaryBackground;
  padding: 5px 0;

  a {
    color: $fontAccentColor;
  }
}

div {
  font-weight: bold;
}

.hideaway {
  position: absolute;
  left: -5000px;
}
