@import "variables";

body {
  background-color: $color5;
  color: $color4;
  font-family: $font1;
}

h1, h2, h3{
  font-family: $font1;
  color: $color4;
}

h4, h5 {
  font-family: $font2;
}

.cta-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}
section.main-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  h1 {
    color: $color4;
    font-size: 40pt;
  }

  h2 {
    color: $color5;
  }

  h4 {
    color: $color4;
    font-size:25pt;
  }

  .item {
    max-width: 75%;
  }

  a {
    color: inherit;
    text-decoration: underline;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 200ms ease-in-out;
    display: inline-block;

    &:hover {
      transform: scale(1.05);
    }
  }

  .main-item {
    border: solid 3px $color3;
    padding: 30px;
    background-color: $color2;
    box-shadow: 0 0 30px -10px $color4;

    > .go-back {
      display: block;
      position: absolute;
      margin-top: -65px;
      margin-left: -25px;
      color: $color2;
      text-decoration: none;
    }
  }

  .item-top {
    align-self: flex-start;
  }

  .item-bottom {
    align-self: flex-end;
  }
}

div.footer {
  color: $color3;
  background-color: $color4;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 0;

  a {
    color: $color5;
  }
}

div {
  font-weight:bold;
}
