/* HSL */
$color1: hsla(6%, 71%, 44%, 1);
$color2: hsla(240%, 100%, 98%, 1);
$color3: hsla(34%, 75%, 80%, 1);
$color4: hsla(222%, 16%, 39%, 1);
$color5: hsla(161%, 35%, 38%, 1);

/* RGB */
$color1: rgba(192, 50, 33, 1);
$color2: rgba(247, 247, 255, 1);
$color3: rgba(242, 208, 164, 1);
$color4: rgba(84, 94, 117, 1);
$color5: rgba(63, 130, 109, 1);

/* Fonts */
$font1: 'Raleway', sans-serif;
$font2: 'Lobster', cursive;
