/* HSL */

/* RGB */

/* Fonts */

html,
body {
  background-color: #3f826d;
}

.cascadiaphp {
  background-color: #3f826d;
  color: #545e75;
  font-family: "Raleway", sans-serif;
}

.cascadiaphp .text-center {
  text-align: center;
}

.cascadiaphp h2 {
  font-size: 2rem;
}

.cascadiaphp h1,
.cascadiaphp h2,
.cascadiaphp h3,
.cascadiaphp h4,
.cascadiaphp h5,
.cascadiaphp h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  margin-top: 0;
}

.cascadiaphp h1,
.cascadiaphp h2,
.cascadiaphp h3 {
  font-family: "Raleway", sans-serif;
  color: #545e75;
}

.cascadiaphp h4,
.cascadiaphp h5,
.cascadiaphp h6 {
  font-family: "Lobster", cursive;
}

.cascadiaphp .cta-container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.cascadiaphp section.main-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  min-height: calc(100vh - 29px);
}

.cascadiaphp section.main-cta h1 {
  color: #545e75;
  font-size: 40pt;
}

.cascadiaphp section.main-cta h2 {
  color: #3f826d;
}

.cascadiaphp section.main-cta h4 {
  color: #545e75;
  font-size: 25pt;
}

.cascadiaphp section.main-cta .item {
  max-width: 75%;
}

.cascadiaphp section.main-cta a {
  color: inherit;
  text-decoration: underline;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  display: inline-block;
}

.cascadiaphp section.main-cta a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.cascadiaphp section.main-cta .main-item {
  border: solid 3px #f2d0a4;
  padding: 30px;
  background-color: #f7f7ff;
  -webkit-box-shadow: 0 0 30px -10px #545e75;
          box-shadow: 0 0 30px -10px #545e75;
}

.cascadiaphp section.main-cta .main-item > .go-back {
  display: block;
  position: absolute;
  margin-top: -65px;
  margin-left: -25px;
  color: #f7f7ff;
  text-decoration: none;
}

.cascadiaphp section.main-cta .item-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.cascadiaphp section.main-cta .item-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.cascadiaphp div.footer {
  color: #5db096;
  background-color: #264e42;
  -webkit-box-shadow: 0 0 30px -10px #545e75;
          box-shadow: 0 0 30px -10px #545e75;
  padding: 5px 0;
}

.cascadiaphp div.footer a {
  color: #3f826d;
}

.cascadiaphp div {
  font-weight: bold;
}

.cascadiaphp .hideaway {
  position: absolute;
  left: -5000px;
}

@media screen and (max-width: 768px) {
  .cascadiaphp .item {
    max-width: 100%;
  }
}

