.main-header {
    background-color:#fafafa;
    min-height: 65px;
}
.header-logo {
    max-height:50px;
}
.main-content .logo {
    height: 230px;
}
.main-content .logo > img {
    max-width: 100%;
}
.nav > ul {
    list-style:none;
}
.nav > ul > li {
    display:inline-block;
}
.nav > ul > li > a {
    padding: 10px 20px;
    text-decoration: none;
}
.nav > ul > li > a:hover, .nav > ul > li > a.active {
    background-color: rgba(200, 200, 200, 0.1);
}
.footer-floater {
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    height:20px;
    line-height:20px;
    font-size:9px;
    background-color:#000;
    color: #fafafa;
}
.footer-floater > a {
    text-decoration: none;
}
.main-content {
    padding-bottom:30px;
}
.directions {
    background: #f3f3f3;
}
.tagline > p {
    font-size: 11px;
}
em,i,a,a>strong {
    color: #418fde;
}
h1,h2,h3,h4,h5,strong {
    color: #046a38;
}
