.main-header {
    background-color:#fafafa;
}
.header-logo {
    max-height:50px;
}
.link-list {
    list-style:none;
}
.link-list > li {
    float:left;
}
.link-list > li > a {
    padding: 10px 20px;
}
.footer-floater {
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    height:20px;
    line-height:20px;
    font-size:9px;
    background-color:#000;
    color: #fafafa;
}
.footer-floater > a {
    color: #fafafa;
    text-decoration: none;
}
.main-content {
    padding-bottom:30px;
}
