.bg-blue
  background-color: $color-blue
.c-blue
 color: $color-blue
.b-blue
  border-color: $color-blue
.bg-blue-dark
  background-color: $color-blue-dark
.c-blue-dark
 color: $color-blue-dark
.b-blue-dark
  border-color: $color-blue-dark
.bg-blue-light
  background-color: $color-blue-light
.c-blue-light
 color: $color-blue-light
.b-blue-light
  border-color: $color-blue-light
.bg-cyan
  background-color: $color-cyan
.c-cyan
 color: $color-cyan
.b-cyan
  border-color: $color-cyan
.bg-orange
  background-color: $color-orange
.c-orange
 color: $color-orange
.b-orange
  border-color: $color-orange
.bg-white
  background-color: $color-white
.c-white
 color: $color-white
.b-white
  border-color: $color-white
.bg-gray
  background-color: $color-gray
.c-gray
 color: $color-gray
.b-gray
  border-color: $color-gray
.bg-gray-light
  background-color: $color-gray-light
.c-gray-light
 color: $color-gray-light
.b-gray-light
  border-color: $color-gray-light
.bg-gravel
  background-color: $color-gravel
.c-gravel
 color: $color-gravel
.b-gravel
  border-color: $color-gravel
