@import "layout/layout"

.cp-site
  min-height: 100vh
  display: flex
  flex-direction: column

  @import "layout/header"
  @import "layout/footer"
  @import "layout/typography"
  @import "layout/subheader"
  @import "components/striped-image"
  @import "components/register-button"

  .cp-who-is-row
    background-color: $color-blue-dark
    padding: 0  0 5em 0
    .cp-separator
      margin-bottom: 4em

    h2
      color: white

    p
      color: white

    a
      color: $color-cyan

    .cp-layout
      justify-content: center
      > div
        max-width: 550px
        margin: 0 0 0 2.5em
        &:first-child
          float: right
          margin: 0 2.5em 0 0

  .cp-subheader-content
    padding-top: em(75)
    clear: both
    z-index: 2

    .cp-footer-top
      background-color: rgba($color-orange, .65)

    .cp-gravel-section
      background-color: rgba($color-gravel, .65)
      padding-top: 3em
      padding-bottom: 6em
      color: white
      h2
        color: white
        font-size: em(48)

  .cp-subheader
    position: relative

  .cp-background-cover
    background: $color-white
    top: em(75)
    bottom: 0
    left: 0
    right: 0
    position: absolute !important

  .cp-hangover
    > div
      padding-top: 0
      margin-top: em(-50)

    .cp-register-button
      z-index: 5

  .cp-subheader-editmode .cp-subheader-content
    margin-top: 30px

  .cp-striped-image

    .cover
      border-top: $max-width solid rgba(171,209,216,.5)
      border-right: calc(#{$max-width} - 200px) solid transparent

    .cover-bottom
      border-bottom: $max-width solid rgba(30,64,87,.5)
      border-left: calc(#{$max-width} - 200px) solid transparent

.cp-slideshow
  margin: 0 -1em
  min-height: 200px
  clear: both
  position: relative

  &.edit-mode
    .ccm-block-edit
      overflow: hidden
      max-height: 300px

  &.not-loaded
    > div
      display: none

  .slick-track
    height: 200px
    .slick-slide
      height: 100%

  img
    height: 100%
    width: 100%
    object-fit: cover

  .cp-previous
    left: 0
    align-items: flex-start

  .cp-next
    right: 0
    align-items: flex-end

  .cp-previous, .cp-next
    position: absolute
    top: 0
    height: 100%
    display: flex !important
    flex-direction: column
    justify-content: center
    width: $padding

    i
      background-color: $color-gray-light
      color: $color-white
      border-radius: 1em
      font-size: 2.5em
      text-align: center
      cursor: pointer
      transition: background-color 0.25s ease

    &:hover
      i
        background-color: $color-gray
        @extend .shadow
