@import "../helpers/overlay"
@import "../components/hamburger"
@import "~bootstrap/scss/buttons"
@import "~bootstrap/scss/mixins/buttons"

.cp-header-content
  background-color: $color-blue-dark
  display: flex
  flex-direction: column

  .cp-header-container
    max-height: 200px
    display: flex
    flex: 1
    flex-direction: row
    max-width: $max-width
    width: 100%
    align-self: center
    align-items: center
    padding: 0 $padding

  .cp-header-left, .cp-header-right
    display: flex
    flex: 1

  .cp-header-left img
    margin: 30px 0
    max-width: 100%
    height: auto

  .cp-header-right
    flex: 2
    justify-content: flex-end
    .nav
      list-style-type: none
      padding: 0
      margin: 0
      text-align: right

      li
        display: inline-block
        text-transform: uppercase
        margin: 0 5px

        &.nav-path-selected
          border-bottom: solid 1px white

        &:last-child
          border-bottom: none
          a
            @include button-variant($color-orange, $color-orange)

        a
          @extend .btn
          @include button-variant($color-blue-dark, $color-blue-dark, $color-blue, $color-blue)
          @include button-size(15px, 18px, 'auto', 10px, 3px)
          color: white !important
          letter-spacing: em(3)

.cp-separator
  background-color: $color-orange
  min-height: 10px

.cp-hamburger
  @extend .shadow-inner
  background-color: mix($color-orange, $color-gravel)
  transition: max-height 0.5s ease-in-out
  max-height: 100vh

  a
    color: $color-white

  ul
    list-style-type: none
    padding: 0

    li > a
      font-size: 1.125em
      display: block
      background-color: transparent
      transition: background-color 0.25s ease
      padding: .5em 1em
      margin: .25em -1em
      text-align: center
      border-radius: 1em

      &:hover
        background-color: rgba(0,0,0,.5)

  &.hidden
    max-height: 0

